body {
  background-image: url(https://cdn.motor1.com/images/mgl/KVEmG/s1/nissan-tsuru-crash-test.jpg);
  color: rgb(237, 237, 245);
  width: 1524px;
  height: 814.89px;
  left: 0px;
  top: 85.11px;
}

.header-title {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  align-self: center;
  font-weight: 700;
  background-color: darkgreen;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 40%;
  margin: 0 auto;
}
.header-description {
  font-size: 2rem;
  text-align: center;
  color: #fff;
  background-color: coral;
  padding: 2rem;
  border-radius: 10px;
}

#article {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  align-items: center;
  justify-content: space-around;
  background-color: coral;
  height: 45vh;
  width: 30vw;
  margin: 5rem auto;
  border-radius: 1rem;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 45%;
  margin: 0 auto;
}

.img-preview {
  height: 25vh;
  width: 25vw;
}

.img {
  height: 45vh;
  width: 45vw;
}

.articles {
  display: flex;
  flex-direction: row;
}

.continue-button {
  text-decoration: none;
  background-color: #eeeeee;
}

.continue-button:hover {
  background-color: #9b79e9;
}

@media (max-width: 1250px) {
  .card img {
    width: 19rem;
    height: 23rem;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
  .card h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 880px) {
  .display img {
    width: 15rem;
    height: 20rem;
  }
  .flex-container {
    flex-direction: column;
    text-align: center;
  }
  .card {
    height: 50rem;
    width: 30%;
  }

  .article-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    justify-content: space-around;
  }
  .main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 3rem auto;
  }
  .figure-image {
    width: 30%;
    margin: 2rem auto;
  }
  p {
    font-size: var(--h4);
    margin: 1rem auto;
  }

  .desk-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 100%;
  }
}
.nav-item-desk,
.nav-item-desk:visited,
.nav-item-desk:link {
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem 0;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #0369a1 50%
  );
  background-size: 240%;
  transition: all 0.4s;
}
.nav-item-desk:hover,
.nav-item-desk:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem);
}

.article-text {
  color: aliceblue;
}
