<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safest Car Models</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    {% include 'nav.njk' %}
    <header class="header"></header>
        <div class="header-container">
            <h1 class="header-title">
            Safest Car Models
             </h1>
        <p class=:header-description>
        Promoting cars that will not only provide style but also reassurance.</p>
        <div class="header-image"></div>
    </div>  
</body>
</html>